{% extends 'base.html' %}

{% block body %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form action="/" method="post">
    {% csrf_token %}
    <h1>Favorite Movie</h1>
    <div class="user_inputs">
      <input
        placeholder="Name*"
        type="text"
        id="formName"
        name="name"
        class="form-control"
        value=""
        minlength="1"
        maxlength="80"
        required>
      <input
        placeholder="Rating 1-5*"
        type="number"
        id="formRating"
        name="rating"
        class="form-control"
        value=""
        min="1"
        max="5"
        required>
    </div>
    <div class="d-grid gap-2">
      <button type="submit">
        Submit
      </button>
    </div>
  </form>

  {% if movies %}
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for movie in movies %}
          <tr>
            <td>{{ movie.name }}</td>
            <td>{{ movie.rating }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No entries found</p>
  {% endif %}
{% endblock %}
